<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/css/task-form.css}">
    <title>Create</title>
</head>
<body class="dark-theme">
<div class="container">
    <h1 th:if="${task.id == null}">Create Task</h1>
    <h1 th:if="${task.id != null}">Edit Task</h1>
   <form th:action="@{/tasks/save}" th:object="${task}" method="post" class="project-form">
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label>Title
                <input type="text" th:field="*{title}" placeholder="Enter title">
            </label><br>
        </div>

        <div class="form-group">
            <label for="description">Description:</label>
            <textarea th:field="*{description}" id="description" cols="9" rows="3" placeholder="Enter description ..."></textarea><br>
        </div>

        <div class="form-group">
            <label>Status:
                <input type="text" th:field="*{status}" placeholder="Enter status ...">
            </label>
        </div>
        <button type="submit" class="submit-button">Save</button>
    </form>
    <a href="/tasks" class="back-button">Back to Task List</a>
</div>
</body>
</html>